/*** 기존작업자 : 박지영 ***/

/* 캡챠 자동등록(입력)방지 기본 -pc */
#captcha {display:inline-block;position:relative}
#captcha legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden;}
#captcha #captcha_img {width:160px;height:60px;border:1px solid #e9e9e9;vertical-align:top;padding:0;margin:0}
#captcha #captcha_mp3 {position:absolute;top:0;left:161px;;margin:0;padding:0;width:31px;height:31px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer}
#captcha #captcha_mp3 span {position:absolute;top:0;left:0;width:31px;height:31px;background:url('../img/captcha.png') no-repeat;}
#captcha #captcha_reload {position:absolute;top:31px;left:161px;margin:0;padding:0;width:31px;height:31px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer;background:url('../img/captcha.png') no-repeat  0 -30px;border-top:1px solid #ccc;text-indent:-999px}
#captcha #captcha_key {margin:0 0 0 33px;padding:0 5px;width:70px;height:60px;border:1px solid #b8c9c2;background:#f7f7f7;font-size:1.333em;font-weight:bold;text-align:center;line-height:2.8em;vertical-align:top}
#captcha #captcha_info {display:block;margin:5px 0 0;font-size:0.95em;letter-spacing:-0.1em}

/* 캡챠 자동등록(입력)방지 기본 - mobile */
#captcha.m_captcha audio {display:block;margin:0 0 5px;width:187px}
#captcha.m_captcha #captcha_img {width:160px;height:60px;border:1px solid #e9e9e9;margin-bottom:3px;margin-top:5px;display:block;}
#captcha.m_captcha #captcha_reload {position:static;margin:0;padding:0;width:31px;height:31px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer;background:url('../../../img/captcha.png') no-repeat  0 -30px;text-indent:-999px}
#captcha.m_captcha #captcha_reload span{display:none;}
#captcha.m_captcha #captcha_key {margin:0;padding:0 5px;width:115px;height:29px;border:1px solid #b8c9c2;background:#f7f7f7;font-size:1.333em;font-weight:bold;text-align:center;line-height:29px;margin-left:3px}
#captcha.m_captcha #captcha_info {display:block;margin:5px 0 0;font-size:0.95em;letter-spacing:-0.1em}
#captcha.m_captcha #captcha_mp3 {width:31px;height:31px;background:url('../img/captcha.png') no-repeat; vertical-align:top;overflow:hidden;cursor:pointer;text-indent:-9999px;border:none}


/*** 버튼 색상및 디자인 모음 ***/
.btn_bo_adm input {
	background:#FFF!important; 
	color:#333!important;
	}
	
.new_win .win_btn button,
a.btn_b01, 
a.btn_b02, 
a.btn_admin, 
a.btn_cancel,
.btn_bo_adm input, 
.btn_submit {
	transition:all .2s ease; 
	border:1px solid #d1d1d1;
	/*border-bottom:3px solid #ebebeb;*/ 
	box-shadow:0px 1px 0px #d1d1d1; 
	border-radius:3px!important; 
	line-height:1.2em}
	/*버튼라운드 및 다지인*/

a.btn_b01:hover, 
a.btn_b02:hover, 
a.btn_admin:hover, 
a.btn_cancel:hover,
.btn_bo_adm input:hover, 
.btn_submit:hover {
	background:#333!important; 
	border:1px solid #000!important; 
	color:#fff!important;
	}/*버튼전체hover*/


/* 버튼 */
a.btn01 {display:inline-block;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;vertical-align:middle}
a.btn01:focus, a.btn01:hover {text-decoration:none}
button.btn01 {display:inline-block;margin:0;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none}
a.btn02 {display:inline-block;padding:7px;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none;vertical-align:middle}
a.btn02:focus, .btn02:hover {text-decoration:none}
button.btn02 {display:inline-block;margin:0;padding:7px;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none}

.btn_confirm {text-align:center; font-size:1.2em;} /* 서식단계 진행 */
.btn_submit {padding:10px 20px;border:1px solid #333;background:#666;color:#fff;letter-spacing:-0.1em;cursor:pointer}

/* 검색 */
.frm_input.sch_input{width:150px; height:28px;}
fieldset .btn_submit, .btn_submit02 {border-radius:0; height:30px; line-height:1em; background:#444; color:#fff; font-size:1em; border:1px solid #000; padding:0 7px}

a.btn_cancel {display:inline-block;padding:10px 20px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;vertical-align:middle}
button.btn_cancel {display:inline-block;padding:10px 20px;border:1px solid #ccc;background:#fafafa;color:#000;vertical-align:top;text-decoration:none}

a.btn_frmline, button.btn_frmline {display:inline-block;padding:0 5px;height:32px;border:0;background:#333;color:#fff;letter-spacing:-0.1em;text-decoration:none;vertical-align:top} /* 우편번호검색버튼 등 */
a.btn_frmline {line-height:24px}
button.btn_frmline {font-size:1em}

/* 게시판용 버튼 */
a.btn_b01 {display:inline-block;padding:7px;border:1px solid #d9ded9;background:#f2f5f9;color:#000;text-decoration:none;vertical-align:middle}
a.btn_b01:focus, .btn_b01:hover {text-decoration:none}
a.btn_b02 {display:inline-block;padding:7px 7px;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none;vertical-align:middle}
a.btn_b02:focus, .btn_b02:hover {text-decoration:none}
a.btn_admin {display:inline-block;padding:7px;border:1px solid #333;background:#333;color:#fff;text-decoration:none;vertical-align:middle} /* 관리자 전용 버튼 */
a.btn_admin:focus, a.btn_admin:hover {text-decoration:none}

/* 댓글 스타일 */
.cnt_cmt {display:inline-block;margin:0 0 0 3px;font-weight:bold}

/* 분류 */
#bo_cate h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_cate{width:100%; margin-bottom:30px;}
#bo_cate ul {padding-left:1px;zoom:1;border-bottom:1px solid #A6A6A6;}
#bo_cate ul:after {display:block;visibility:hidden;clear:both;content:""}
#bo_cate li {display:inline-block;margin-bottom:-1px}
#bo_cate a {display:inline-block;position:relative;margin-left:-1px;padding:15px 20px; width:auto;border:1px solid #ddd; border-bottom:1px solid #A6A6A6;
			background:#f7f7f7;color:#888;text-align:center;letter-spacing:-0.1em;line-height:1.2em; font-size:1.1em; cursor:pointer}
#bo_cate a:focus, #bo_cate a:hover, #bo_cate a:active {text-decoration:none}
#bo_cate #bo_cate_on {z-index:2;border:1px solid #A6A6A6; border-bottom:1px solid #FFF; background:#fff;color:#565e60;font-weight:bold}


/* 기본테이블 */
.tbl_wrap table {width:100%;border-collapse:collapse;border-spacing:0}
.tbl_wrap caption {padding:10px 0;font-weight:bold;text-align:left; font-size:1.2em;}

.tbl_head01 {margin:0 0 10px}
.tbl_head01 caption {padding:0;font-size:0;line-height:0;overflow:hidden}
.tbl_head01 thead th {padding: 12px 0; border-top:2px solid #000;background:#fafafa; border-bottom:1px solid #bfc4cd; font-size:1.0em; letter-spacing:0.005em; font-weight:600}
.tbl_head01 thead a {color:#383838}
.tbl_head01 thead th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head01 tfoot th, .tbl_head01 tfoot td {padding:10px 0;border-top:1px solid #c1d1d5;border-bottom:1px solid #c1d1d5;background:#d7e0e2;text-align:center}
.tbl_head01 tbody th {padding:8px 0;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9}
.tbl_head01 td {padding:15px 5px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;line-height:1.5em;word-break:break-all}
.tbl_head01 a {}

#bo_list .tbl_head01 a{text-decoration:none;}
#bo_list .tbl_head01 tbody tr:hover td{background:#F7F7F7;}
#bo_list .td_name{text-align:center!important;}
#bo_v header{padding:0 15px; border-top:2px solid #111; border-bottom:1px solid #ccc; background:#fafafa;}
#bo_v_title{padding: 10px 0 ; font-size: 1.35em; line-height:1.3em; color: #333; font-weight: bold; letter-spacing: -.05em}
#bo_v_info{border-bottom:0;}

.tbl_head02 {margin:0 0 10px}
.tbl_head02 caption {padding:0;font-size:0;line-height:0;overflow:hidden}
.tbl_head02 thead th {padding:5px 0;border-top:1px solid #d1dee2;border-bottom:1px solid #d1dee2;background:#e5ecef;color:#383838;font-size:0.95em;text-align:center;letter-spacing:-0.1em}
.tbl_head02 thead a {color:#383838}
.tbl_head02 thead th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head02 tfoot th, .tbl_head02 tfoot td {padding:10px 0;border-top:1px solid #c1d1d5;border-bottom:1px solid #c1d1d5;background:#d7e0e2;text-align:center}
.tbl_head02 tbody th {padding:5px 0;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9}
.tbl_head02 td {padding:5px 3px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;line-height:1.4em;word-break:break-all}
.tbl_head02 a {}


/* 검색 셀렉트박스 */ /* 게시판내에 js파일이 연결되어있어야 적용됨 */
.select-box{display:inline-block;position:relative;border:1px solid #ccc;vertical-align:middle;}
.select-box select{position:absolute;left:-9999px;display:none;}
.select-box a{display:block;height:25px; line-height:25px;padding:0 10px;background:#FFF url(../img/board/select_box_ico.png) right center no-repeat;text-align:left !important;color:#333;font-size:1em;}
.select-box a:visited, .select-box a:active, .select-box a:link, .select-box a:hover{text-decoration:none;}
.select-box a i.fa{vertical-align:middle;float:right;padding-top:7px;}
.select-box ul{position:absolute;left:-1px; top:25px;border:1px solid #ccc;display:none;background:#fff;max-height:240px; list-style:none;padding:0;margin:0;overflow:hidden;overflow-y:auto;z-index:999;	
scrollbar-face-color: #eaeaea;scrollbar-track-color: #f7f7f7;scrollbar-3dlight-color: #e2e2e2;scrollbar-arrow-color: #8c8c8c;scrollbar-shadow-color: #eaeaea;scrollbar-highlight-color: #eaeaea;scrollbar-darkshadow-color: #e2e2e2;}
.select-box ul a{display:block;line-height:25px;height:25px;background:none;}

.select-box.select-active a{color:#4B87C8; background:#FFF url(../img/board/select_box_ico_active.png) right center no-repeat;}
.select-box.select-active a i{color:#4B87C8}
.select-box.select-active ul a{color:#333;background:none;}
.select-box.select-active ul a.hover{background:#8DA5C2;color:#fff;}
.select-box.select-active ul a.active{background:#4B7AB2;color:#fff;}

#bo_sch select, select#ca_name{height:30px; border:1px solid #CCC;}

/* 폼 테이블 */
.tbl_frm01 {margin:0 0 20px}
.tbl_frm01 table {width:100%;border-collapse:collapse;border-spacing:0}
.tbl_frm01 th {width:70px;padding:7px 13px;border:1px solid #e9e9e9;border-left:0;background:#F7F7F7;text-align:left}
.tbl_frm01 td {padding:7px 10px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:transparent}
.tbl_frm01 textarea, .frm_input {border:1px solid #e4eaec;background:#f7f7f7;color:#000;vertical-align:middle;line-height:2em}
.tbl_frm01 textarea {padding:2px 2px 3px}
.frm_input {height:30px}
.tbl_frm01 textarea {width:98%;height:100px}
.tbl_frm01 a {text-decoration:none}
.tbl_frm01 .frm_file {display:block;margin-bottom:5px}
.tbl_frm01 .frm_info {display:block;padding:0 0 5px;line-height:1.4em}
#bo_w .tbl_frm01 textarea, #bo_w .tbl_frm01 .frm_input{width:50%;}

/* 필수입력 */
.required, textarea.required {background:url('../img/wrest.gif') #f7f7f7 top right no-repeat !important}

/* 테이블 항목별 정의 */
.td_board {width:120px;text-align:center}
.td_category {width:80px;text-align:center}
.td_chk {width:30px;text-align:center}
.td_date {width:60px;text-align:center}
.td_datetime {width:110px;text-align:center}
.td_group {width:100px;text-align:center}
.td_mb_id {width:100px;text-align:center}
.td_mng {width:80px;text-align:center}
.td_name {width:100px;text-align:left}
.td_nick {width:100px;text-align:center}
.td_num {width:50px;text-align:center}
.td_numbig {width:80px;text-align:center}
.td_stat {width:60px;text-align:center}

.txt_active {color:#5d910b}
.txt_done {color:#e8180c}
.txt_expired {color:#ccc}
.txt_rdy {color:#8abc2a}

/* 새창 기본 스타일 */
.new_win {}
.new_win .tbl_wrap {margin:0 20px}
.new_win #win_title {margin:0 0 20px;padding:20px;border-top:3px solid #333;border-bottom:1px solid #dde4e9;background:#fff;font-size:1.2em}
.new_win #win_title .sv {font-size:0.75em;line-height:1.2em}
.new_win .win_ul {margin:-20px 0 20px 0;padding:0 20px;border-bottom:1px solid #455255;background:#484848;list-style:none;zoom:1}
.new_win .win_ul:after {display:block;visibility:hidden;clear:both;content:""}
.new_win .win_ul li {float:left;margin-left:-1px}
.new_win .win_ul a {display:block;padding:10px 10px 8px;border-right:1px solid #455255;border-left:1px solid #455255;color:#fff;font-weight:bold;text-decoration:none}
.new_win .win_desc {padding:20px}

.new_win .win_btn {clear:both;padding:20px;text-align:center} /* 새창용 */
.new_win .win_btn button {background:#fff; color:#333; padding:5px 15px; height:auto; line-height:2em;}
.new_win .win_btn input { padding:5px 15px; height:auto; line-height:2em; border-radius:3px; }
.new_win .win_btn a {display:inline-block;padding:0 10px;height:30px;background:#4b545e;color:#fff;vertical-align:middle;line-height:2.4em}
.new_win .win_btn a:focus, .new_win .win_btn a:hover {text-decoration:none}

/* 검색결과 색상 */
.sch_word {color:#ff3061}

/* 페이징 */
.pg_wrap {clear:both;margin:0 0 20px;padding:20px 0 0;text-align:center}
.pg {}
.pg_page, .pg_current {display:inline-block;padding:0 8px;height:auto;color:#000;letter-spacing:0;line-height:2.2em;vertical-align:middle}
.pg a:focus, .pg a:hover {text-decoration:none}
.pg_page {text-decoration:none;background:#fff; border:1px solid #E3E3E3;}
.pg_start, .pg_prev {/* 이전 */text-indent:-9999px; width:10px; background:url(../img/board/icon_first.gif) no-repeat 50%/80% auto}
.pg_end, .pg_next {/* 다음 */text-indent:-9999px; width:10px; background:url(../img/board/icon_last.gif) no-repeat 50%/80% auto}
.pg_current {display:inline-block;margin:0;background:#333; border:1px solid #000; color:#fff;font-weight:normal}

@media screen and (max-width:768px){
/* 분류 */
#bo_cate ul{border-bottom:0;}
#bo_cate li {width:calc(25% - 1px); margin-left:1px; margin-bottom:1px; box-sizing:border-box;}
#bo_cate a {padding:5px 10px; box-sizing:border-box; width:100%;border:1px solid #ddd; white-space: nowrap;overflow: hidden; text-overflow: ellipsis; vertical-align:middle;}
#bo_cate a:focus, #bo_cate a:hover, #bo_cate a:active {text-decoration:none}
#bo_cate #bo_cate_on {border-bottom:1px solid #A6A6A6;}

/* 쓰기 */
#bo_w .tbl_frm01 th{padding:5px; background:#fff; border-right:0;}
.tbl_frm01 th{width:20%;}
.tbl_frm01 td{width:80%;}
#bo_w .tbl_frm01 textarea, #bo_w .tbl_frm01 .frm_input{width:100%;}

/* 읽기 */
#bo_v_bot .bo_v_nb{display:none;}
#bo_v_top .bo_v_com{display:none;}

}