@charset "utf-8";
/* SIR 지운아빠 */

/* ### 기본 스타일 커스터마이징 시작 ### */

/* 버튼 */
.mbskin{font-size:1.1em;}
.mbskin a.btn01 {}
.mbskin a.btn01:focus, .mbskin .btn01:hover {}
.mbskin a.btn02 {}
.mbskin a.btn02:focus, .mbskin .btn02:hover {}
.mbskin .btn_confirm {} /* 서식단계 진행 */
.mbskin .btn_submit {}
.mbskin button.btn_submit {}
.mbskin fieldset .btn_submit {}
.mbskin .btn_cancel {}
.mbskin button.btn_cancel {}
.mbskin .btn_cancel:focus, .mbskin .btn_cancel:hover {}
.mbskin a.btn_frmline, .mbskin button.btn_frmline {} /* 우편번호검색버튼 등 */
.mbskin button.btn_frmline {}
.mbskin .win_btn {} /* 새창용 */
.mbskin .win_btn button {}
.mbskin .win_btn input {}
.mbskin .win_btn a {}
.mbskin .win_btn a:focus, .mbskin .win_btn a:hover {}
/* 게시판용 버튼 */
.mbskin a.btn_b01 {}
.mbskin a.btn_b01:focus, .mbskin .btn_b01:hover {}
.mbskin a.btn_b02 {}
.mbskin a.btn_b02:focus, .mbskin .btn_b02:hover {}
.mbskin a.btn_admin {} /* 관리자 전용 버튼 */
.mbskin a.btn_admin:focus, .mbskin a.btn_admin:hover {}

/* 기본테이블 */
.mbskin .tbl_head01 {}
.mbskin .tbl_head01 caption {}
.mbskin .tbl_head01 thead th {}
.mbskin .tbl_head01 thead a {}
.mbskin .tbl_head01 thead th input {} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.mbskin .tbl_head01 tfoot th {}
.mbskin .tbl_head01 tfoot td {}
.mbskin .tbl_head01 tbody th {}
.mbskin .tbl_head01 td {}
.mbskin .tbl_head01 a {}
.mbskin td.empty_table {}

/* 폼 테이블 */
.mbskin table {}
.mbskin caption {}
.mbskin .frm_info {}
.mbskin .frm_file {}

.mbskin .tbl_frm01 {}
.mbskin .tbl_frm01 th {width:15%;}
.mbskin .tbl_frm01 td {}
.mbskin .tbl_frm01 textarea, .mb_skin tbl_frm01 .frm_input {}
.mbskin .tbl_frm01 textarea {}
/*
.mbskin .tbl_frm01 #captcha {}
.mbskin .tbl_frm01 #captcha input {}
*/
.mbskin .tbl_frm01 a {}

/* 필수입력 */
.mbskin .required, .mbskin textarea.required {}
/*반응형소스*/
@media all and (max-width:768px){
.mbskin .required, .mbskin textarea.required {width: 100% }
	}

/* 테이블 항목별 정의 */
.mbskin .td_board {}
.mbskin .td_chk {}
.mbskin .td_date {}
.mbskin .td_datetime {}
.mbskin .td_group {}
.mbskin .td_mb_id {}
.mbskin .td_mng {}
.mbskin .td_name {}
.mbskin .td_nick {}
.mbskin .td_num {}
.mbskin .td_numbig {}

.mbskin .txt_active {}
.mbskin .txt_expired {}

/* ### 기본 스타일 커스터마이징 끝 ### */

/* 회원가입 약관 */
#fregister .join_txt{ text-align:left; font-size:1em; font-weight:normal; color:#888; line-height:1.8em; margin-bottom:60px;}
#fregister section {margin:0 0 20px;}
#fregister h2 { font-size:2em; font-weight:500; text-align:left; letter-spacing:-1.5px; margin-bottom:15px;}
#fregister textarea {display:block;margin-bottom:10px;padding:10px;width:100%;height:200px;border:1px solid #ddd;background:#fff;
font-size:12px;}
#fregister .fregister_agree {text-align:right; font-size:0.9em; color:#666;}
#fregister .fregister_agree label {display:inline-block;margin-right:5px; font-size:1.2em; font-weight:500 !important;}
#fregister .btn_confirm {margin-bottom:20px}
#fregister_private .tbl_head01 th{;text-align:center;border:1px solid #d1dee2;width:33%}
#fregister_private .tbl_head01 td {border:1px solid #e9e9e9}
#fregister_private .tbl_head01 caption{position:absolute;font-size:0;line-height:0;overflow:hidden}
@media all and (max-width:768px){
#fregister h2 { font-size:1.5em; margin-bottom:10px;}
#fregister .join_txt{ font-size:0.9em;}
}

/* 회원가입 입력 */
#fregisterform #msg_certify {margin:5px 0 0;padding:5px;border:1px solid #dbecff;background:#eaf4ff;text-align:center}
#fregisterform #mb_addr3 {display:inline-block;margin:5px 0 0;vertical-align:middle}
#fregisterform #mb_addr_jibeon {display:block;margin:5px 0 0}
/*회원가입 table*/
.tbl_join table{ width:100%; margin-bottom:20px;}
.tbl_join table caption{ display:none;}
.tbl_join table th{ padding:12px 0 0 15px; font-size:1.1em; color:#555;}
.tbl_join table td{ padding:0 15px 12px 15px; border-bottom:1px dotted #bbb; text-align:left;}
.tbl_join table tr:last-child td{ border-bottom:0;}
.tbl_join table td span{ display:inline-block; margin-bottom:5px; font-size:0.9em; color:#777;}
.tbl_join table .frm_input{ width:30%; height:35px; border:1px solid #ccc; background-color:#fff !important; border-radius:2px; text-indent:10px;}
.tbl_join table .email{ width:50%;}
.tbl_join table .frm_add{ width:30%; margin-top:5px;}
.tbl_join table .frm_address{ width:60%; margin-top:5px;}
.tbl_join table textarea{ width:100%; height:150px; border:1px solid #ccc; padding:10px; border-radius:2px;}
@media all and (max-width:768px){
.tbl_join table th{ padding:0px 0 0 0px;}
.tbl_join table td{ padding:0 0px 17px 0px; border-bottom:0;}
.tbl_join table .frm_input{ width:100%; height:40px;}
.tbl_join table .email{ width:100%;}
.tbl_join table .frm_add{ width:80%;}
.tbl_join table .frm_address{ width:80%;}
}


/* 회원가입 완료 */
#reg_result {}
#result_box{ margin:50px 0; background:url(img/result_img.gif) no-repeat center top; padding-top:130px;}
#reg_result #result_email {margin:20px 0;padding:10px 50px;border-top:1px solid #e9e9e9;border-bottom:1px solid #dde4e9;background:#fff;line-height:2em}
#reg_result #result_email span {display:inline-block;width:150px}
#reg_result #result_email strong {color:#e8180c;font-size:1.2em;}
#reg_result .name{ font-size:2.3em; color:#333; text-align:center;}
#reg_result .mbr2{ display:none;}
#reg_result p {line-height:1.8em; color:#777; text-align:center;}
#reg_result .btn_confirm {margin:50px 0 0 0; border-top:1px solid #ddd; padding-top:30px;}
@media all and (max-width:768px){
#result_box{ width:90%; margin:50px auto; background-size:70px auto; padding-top:85px;}
#reg_result .name{ font-size:1.8em; line-height:1.3em; margin-bottom:20px;}
#reg_result .mbr2{ display:block;}
#reg_result p { display:inline-block; font-size:0.9em; line-height:1.5em;}
#reg_result .mbr{ display:none;}
}

/* 아이디/비밀번호 찾기 */
#find_info #mb_hp_label {display:inline-block;margin-left:10px}
#find_info #info_fs {margin:0 20px 20px;padding:0;background:#fff}
#find_info #info_fs .frm_input {width:70%}
#find_info p {margin:0 0 10px;line-height:1.8em}
#find_info #captcha {margin:0 20px}

/* 로그인 */
#mb_login {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:550px;background:rgba(255,255,255,0.6);border-radius:20px;overflow:hidden; font-size:1.1em;
		   box-shadow:3px 3px 7px 1px #bbb;-moz-box-shadow:3px 3px 7px 1px #bbb;-webkit-box-shadow:3px 3px 7px 1px #bbb;}
#mb_login h1 {margin:0 50px 20px;font-size:2.0em;text-align:center;padding:30px 0 20px;border-bottom:1px solid #245D76; letter-spacing:-1px;  font-weight:700;}
#mb_login #login_fs{padding:10px 50px 40px}
#mb_login #login_fs .login_id,#mb_login #login_fs .login_pw {display:block;color:#333;margin-bottom:5px}
#mb_login #login_fs .frm_input{width:100%;background-color:#f5f5f5 !important;border:1px solid #ddd;height:36px;line-height:36px;text-indent:10px;margin-bottom:5px;padding:0}
#mb_login #login_fs .btn_submit {width:60px;height:40px;background:#49BAEB;width:100%;border-radius:4px; border:1px solid #1C4658;border-bottom:3px solid #296984;font-size:1.3em;font-weight:bold;margin:5px 0}
#mb_login #login_info {background:#f5f9fa;padding:20px 50px 0;border-top:1px solid #d4e2e1;text-align:center;}
#mb_login #login_info p{line-height:1.5em;margin-bottom:20px;color:#777;text-align:left;}
#mb_login #login_info a{width:48%;padding:10px 0;text-align:center;border-radius:4px;}
#mb_login h2 {margin:0 0 5px;font-size:1.167em}
#mb_login .btn_confirm{width:100%;background:#f5f9fa;padding:30px 0;margin:0; font-size:1em;}
#mb_login .btn_confirm a{text-decoration:none;color:#3c95d5;padding-right:10px;display:inline-block}

/* 쪽지 */
#memo_view_contents {margin:0 auto 20px;width:90%}
#memo_view_contents h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#memo_view_ul {margin:0;padding:0 0 10px;border-bottom:1px solid #eee;list-style:none}
.memo_view_li {position:relative;padding:5px 0}
.memo_view_subj {display:inline-block;width:65px}
#memo_view p {padding:10px 0;min-height:150px;height:auto !important;height:150px;background:#fff;line-height:1.8em}

#memo_write textarea {height:100px}

/* 스크랩 */
#scrap_do table {margin:0 0 10px;width:100%}
#scrap_do textarea {height:100px}

/* 회원 비밀번호 확인 */
#mb_confirm {margin:0 auto;padding:100px 0;width:500px}
#mb_confirm h1 {margin:0 0 20px;font-size:1.3em}
#mb_confirm p {padding:20px;border:1px solid #dde4e9;border-bottom:0;background:#fff}
#mb_confirm p strong {display:block}
#mb_confirm fieldset {margin:0 0 30px;padding:30px 0;border:1px solid #e9e9e9;background:#f5f6fa;text-align:center}
#mb_confirm fieldset .frm_input {background-color:#fff !important}
#mb_confirm label {letter-spacing:-0.1em}
#mb_confirm_id {display:inline-block;margin-right:20px;font-weight:bold}

/* 비밀글 비밀번호 확인 */
#pw_confirm {margin:0 auto;padding:100px 0;width:500px}
#pw_confirm h1 {margin:0 0 20px;font-size:1.3em}
#pw_confirm p {padding:20px;border:1px solid #dde4e9;border-bottom:0;background:#fff}
#pw_confirm p strong {display:block}
#pw_confirm fieldset {margin:0 0 30px;padding:30px 0;border:1px solid #e9e9e9;background:#f5f6fa;text-align:center}
#pw_confirm fieldset .frm_input {background-color:#fff !important}
#pw_confirm label {letter-spacing:-0.1em}
#pw_confirm_id {display:inline-block;margin-right:20px;font-weight:bold}

/* 폼메일 */
#formmail #subject {width:386px}
#formmail textarea {height:100px}

/* 자기소개 */
#profile table {margin-bottom:0}
#profile section {margin:0 auto 20px;padding:20px;width:86%}
#profile h2 {margin:0}



/*반응형소스*/
@media all and (max-width:768px){
	#mb_login{width:70%;}
	#mb_login h1{font-size:1.5em;}
	}
	
@media all and (max-width:450px){
	html, body{background:none;}
	.mbskin{font-size:1em;}
	.mbskin .tbl_frm01 th {width:25%;}
	#mb_login{width:100%; border:none; border-radius:0; box-shadow:none; -webkit-box-shadow:none; }
	#mb_login h1{font-size:1.5em; margin:auto 30px;}
	#mb_login #login_fs,
	#mb_login #login_info{padding:20px 30px;}
	#mb_confirm {width:90%; margin:0 auto;}
    #mb_confirm fieldset .frm_input { width:80%;}
	}